PORT=8080
DIR= localhost:8080
DB_NAME=PROY BKND
MONGO_STRING=
MONGO_USER=
MONGO_PASS=
NODE_ENV= production
GITHUB_CLIENT_ID= 
GITHUB_CLIENT_SECRET= 
GITHUB_CALLBACK_URL= 

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SERVICE=

JWT_SECRET=


--
 MONGO_CONNECTION="mongodb+srv://fcurrao1:fcurrao1@cluster0.pzrcxla.mongodb.net/ecommerce?retryWrites=true&w=majority"
  PORT=8080
  USER="DEVELOPMENT" 
  BASEURL="http://"
  PORTTOTAL="localhost:8080"
  USE_PORT=BASEURL+PORT

  # production: false,
  # prueba: "probandoooo",
  
  # // mongoConnection2:"mongodb+srv://fcurrao1:fcurrao1@cluster0.pzrcxla.mongodb.net/?retryWrites=true&w=majority",
  # mongoConnection: "mongodb+srv://fcurrao1:fcurrao1@cluster0.pzrcxla.mongodb.net/ecommerce?retryWrites=true&w=majority",
  # MONGO_CONNECTION: "mongodb+srv://fcurrao1:fcurrao1@cluster0.pzrcxla.mongodb.net/ecommerce?retryWrites=true&w=majority",
  # // baseUrl: 'https://localhost:60781/'
  # baseUrl: "http://",
  # PORT: "8080",

  # AUTH_CLIENT_ID_GITHUB: "Iv1.7b358415b5d0e860",
  # AUTH_CLIENT_SECRET_GITHUB: "178874e9f61399ecdb0e8606c9b60ed836f3b297",
  
# gque.fc@gmail.com
#  fuqcqcqcsphzebxa